@import "tailwindcss";
  @theme {
          --color-btn-employer:#272727; 
          --color-btn-hover-employer:#b3defa; 
          --color-btn-focus-employer:#6c757d; 
          --color-text-btn-hover-employer: #0a53be;
          --spacing-0:0px;
        }
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #2466C9;
  border-radius: 8px;
}
.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-icon-general-information-job-detail{
  color: #2466c9;
}

.animate-shrink {
  animation: shrink 1s infinite alternate ease-in-out;
}

@keyframes shrink  {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);   /* thu nhỏ còn 80% */
  }
}
